/* Classes*/
.App {
  text-align: center;
  background: #d4e2d4;
  font-family: Lobster;
  font-size: 3rem;
  color: gray;
  height: 85vh;
}

.button {
  padding: 20px 20px;
  margin: 30px 25px;
  background-color: #c05555;
  border-color: #92817a;
  color: white;
  font-family: arial;
  font-style: bold;
  font-size: 1.5rem;
}

.button:hover {
  background-color: #c05555;
  color: black;
}

.blue {
  color: rgba(71, 105, 214, 0.979);
}

.bold {
  font-style: bold;
  font-size: 2rem;
}

/*Elements*/
* {
  background: #d4e2d4;
}

h1 {
  margin-bottom: 0px;
}

input {
  font-family: arial;
  color: rgb(71, 65, 65);
  font-size: 1.2rem;
  border: 1px solid rgb(85, 80, 80);
}
